path = require 'path'
rootPath = path.normalize __dirname + '/../../'

module.exports =
  development:
    db: 'mongodb://<development mongo address/database name>'
    rootPath: rootPath
    port: process.env.PORT or 3030
  test:
    db: 'mongodb://<test mongo address/database name>'
    rootPath: rootPath
    port: process.env.PORT or 3030
  production:
    db: 'mongodb://<production mongo address/database name>'
    rootPath: rootPath
    port: process.env.PORT or 80
